<div class="dashboard-container">
    <div class="sidebar" [ngClass]="{ 'collapsed': sidebarCollapsed }">
      <button (click)="toggleSidebar()">Toggle Sidebar</button>
      <app-sidebar *ngIf="!sidebarCollapsed"></app-sidebar>
    </div>
    <div class="dashboard-content" [ngClass]="{ 'expanded': sidebarCollapsed && friendsListCollapsed }">
      <ng-container *ngIf="!detailedView; else detailedViewTemplate">
        <div class="widgets">
          <ng-container *ngFor="let widget of widgets; let i = index">
            <div *ngIf="placeholderIndex === i" class="widget-placeholder" [ngClass]="draggedIndex !== null ? widgets[draggedIndex].size : ''"></div>
            <div [ngClass]="widget.size + ' widget-container'" 
                 class="widget-container" 
                 draggable="true" 
                 (dragstart)="onDragStart($event, i)" 
                 (dragover)="onDragOver($event, i)" 
                 (dragleave)="onDragLeave($event)" 
                 (drop)="onDrop($event, i)">
              <button (click)="showDetailedView(widget.name)" *ngIf="widget.name === 'My Tasks' || widget.name === 'Calendar' || widget.name === 'My Budget'">Enlarge</button> <!-- Add enlarge button -->
              <ng-container [ngSwitch]="widget.name">
                <app-widget *ngSwitchCase="'Widget 1'" [widget]="widget"></app-widget>
                <app-widget *ngSwitchCase="'Widget 2'" [widget]="widget"></app-widget>
                <app-widget *ngSwitchCase="'Widget 3'" [widget]="widget"></app-widget>
                <app-my-tasks *ngSwitchCase="'My Tasks'"></app-my-tasks>
                <app-calendar *ngSwitchCase="'Calendar'"></app-calendar>
                <app-my-budget *ngSwitchCase="'My Budget'"></app-my-budget> <!-- Add MyBudgetComponent -->
              </ng-container>
            </div>
          </ng-container>
          <div *ngIf="placeholderIndex === widgets.length" class="widget-placeholder" [ngClass]="draggedIndex !== null ? widgets[draggedIndex].size : ''"></div>
        </div>
      </ng-container>
      <ng-template #detailedViewTemplate>
        <ng-container [ngSwitch]="detailedView">
          <app-task-dashboard *ngSwitchCase="'My Tasks'"></app-task-dashboard>
          <app-calendar-dashboard *ngSwitchCase="'Calendar'"></app-calendar-dashboard>
          <app-my-budget *ngSwitchCase="'My Budget'"></app-my-budget> <!-- Add detailed view for MyBudgetComponent -->
        </ng-container>
        <button (click)="closeDetailedView()">Back to Dashboard</button>
      </ng-template>
    </div>
    <div class="friends-list" [ngClass]="{ 'collapsed': friendsListCollapsed }">
      <button (click)="toggleFriendsList()">Toggle Friends List</button>
      <app-friends-list *ngIf="!friendsListCollapsed"></app-friends-list>
    </div>
  </div>