<!-- src/app/components/friends-list/friends-list.component.html -->
<div class="friends-list-container">
    <h2>Friends List</h2>
    <button (click)="addFriend()">Add Friend</button>
    <ul class="friends-list">
      <li *ngFor="let friend of friends; let i = index" class="friend-item" [ngClass]="{'me': friend.isMe, 'active': dropdownIndex === i}">
        <div class="friend-name">
          {{ friend.name }}
        </div>
        <span class="dropdown-icon" (click)="toggleDropdown(i)">&#9662;</span>
        <ul class="dropdown-menu">
          <li (click)="viewProfile(friend)">
            <i class="fas fa-user"></i> Profile
          </li>
          <li (click)="chatWithFriend(friend)">
            <i class="fas fa-comments"></i> Chat
          </li>
          <li (click)="friendSettings(friend)">
            <i class="fas fa-cog"></i> Settings
          </li>
          <li *ngIf="!friend.isMe" (click)="deleteFriend(i)">
            <i class="fas fa-trash-alt"></i> Delete
          </li>
        </ul>
      </li>
    </ul>
  </div>