.container {
    display: flex;
    height: 100vh;
  }
  app-sidebar {
    width: 20%;
    background-color: #f4f4f4;
  }
  app-dashboard {
    flex-grow: 1;
    background-color: #fff;
  }
  app-friends-list {
    width: 20%;
    background-color: #f4f4f4;
  }