.sidebar-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
    background-color: #161748; /* Purple Baseline */
    color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .sidebar-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  
    .logo {
      display: flex;
      align-items: center;
  
      img {
        height: 50px;
        margin-right: 10px;
      }
  
      .logo-text {
        font-size: 1.5rem;
        font-weight: bold;
        color: #39a0ca; /* Bluewater Lowlight */
      }
    }
  }
  
  .nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
  
    .nav-item {
      display: flex;
      align-items: center;
      padding: 0.75rem;
      margin-bottom: 0.5rem;
      background-color: #2e2e48; /* Slightly lighter Purple */
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s, transform 0.3s;
  
      &:hover {
        background-color: #39a0ca; /* Bluewater Lowlight */
        transform: translateY(-2px);
      }
  
      .icon {
        height: 24px;
        margin-right: 10px;
      }
  
      span {
        font-size: 1rem;
        color: #fff;
      }
    }
  
    hr {
      border: 0;
      height: 1px;
      background: #39a0ca; /* Bluewater Lowlight */
      margin: 1rem 0;
    }
  }
  
  .add-widget,
  .edit-layout {
    display: flex;
    align-items: center;
    padding: 0.75rem;
    margin-bottom: 0.5rem;
    background-color: #2e2e48; /* Slightly lighter Purple */
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  
    &:hover {
      background-color: #39a0ca; /* Bluewater Lowlight */
      transform: translateY(-2px);
    }
  
    .icon {
      height: 24px;
      margin-right: 10px;
    }
  
    span {
      font-size: 1rem;
      color: #fff;
    }
  }